*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: linear-gradient(120deg, red,blue ) ;
    min-height: 100vh;
    
}
header{
    font-size: 36px;
}
header,form {
    min-height: 10vh;
    display: flex;
    justify-content:  center;
    align-items: center;

}
 form input ,button{
    padding: 10px;
    font-size: 20px;
    border: none;
    background: #fff;
 }